@font-face {
  font-family: "Arizonia";
  src: url("../fonts/Arizonia-Regular.ttf");
}
@font-face {
  font-family: "quicksand";
  src: url("../fonts/Quicksand-Bold.otf");
}
@font-face {
  font-family: "GreatVibes";
  src: url("../fonts/GreatVibes-Regular.otf");
}

h2 {
  font-family: GreatVibes;
  font-size: 30px;
  color: black;
}
h3 {
  font-family: GreatVibes;
  font-size: 25px;
  color: black;
}
p {
  font-family: quicksand;
  font-size: 20px;
  color: black;
}

#p1 {
  background-color: red;
  border-style: solid;
  border-color: black;
}
#p2 {
  background-color: blue;
  border-style: solid;
  border-color: black;
}
.pselector p {
  background-color: green;
  border-style: solid;
  border-color: black;
}

.pselector2 .aselector1 p {
  background-color: yellow;
  border-style: solid;
  border-color: black;
}

.pselector2 .aselector2 p {
  background-color: grey;
  border-style: solid;
  border-color: black;
}

#p6 {
  background-color: blue;
  border-style: solid;
  border-color: black;
  color: white;
}
#p7 {
  background-color: rgb(7, 7, 22);
  border-style: solid;
  border-color: black;
  color: white;
}
#p8 {
  border-style: dotted;
  border-color: black;
}
